@import "../partials/main";
@import "../partials/footer";
@import "../partials/fonts";
@import "../partials/mixins";

.container {
    height: 100vh;
    font-family: $p-font;
    display: grid;
    grid-template-areas: 
    "header"
    "picture"
    "footer"
    ;
}

header {
    grid-area: header;
    padding: 10px 8%;

}

#home-pic {
    grid-area: picture;
    display: flex;
    justify-content: center;

    img {
        @include set-size(330px, 580px);
        box-shadow: 2px 3px 5px grey;
        border-radius: 0px 30px 0px 30px;
    }

}






