@import "../partials/main";
@import "../partials/footer";
@import "../partials/fonts";
@import "../partials/mixins";

.container {
    min-height: 100vh;
    font-family: $p-font;
    display: grid;
    grid-template-areas: 
    "header"
    "picture"
    "footer"
    ;
}

header {
    grid-area: header;
    padding: 10px 8%;
    animation: fly-down 1s;

}

#home-pic {
    grid-area: picture;
    display: flex;
    justify-content: center;

    img {
        @include set-size(330px, 550px);
        box-shadow: 2px 3px 5px grey;
        border-radius: 0px 30px 0px 30px;
    }

}

footer {
    animation: fly-up 1s;
}

@keyframes fly-down {
    from {
        opacity: 0;
        transform: translateY(-200px) 
    }
    to {
        opacity: 1;
        transform: translateY(0px)
    }
}

@keyframes fly-up {
    from {
        opacity: 0;
        transform: translateY(200px) 
    }
    to {
        opacity: 1;
        transform: translateY(0px)
    }
}

@media screen and (min-width: 760px) {
    .container {
        grid-template-areas: 
        "header picture"
        "footer picture"
        ;
    }
    header {
        display: flex;
        flex-direction: column;
        font-size: 1.3em;
        justify-content: flex-end;
        text-align: center;
    }

    #home-pic {
        align-items: center;
        img {
            @include set-size(380px, 680px);
            border-radius: 0px;
            margin-right: 20px;
        }
    }

    footer {
        margin-top: 30px;
        justify-content: flex-start;
        nav {
            font-size: 1.5em;
        }
    }
}

@media screen and (min-width: 1200px) {

    header {
        align-items: flex-end;
    }

    #home-pic {
        justify-content: flex-start;
        img {
            @include set-size(450px, 700px);

        }
    }

    footer {
        padding: 0 8%;
        align-items: flex-end;
    }
}






