@import "fonts";

$snd-color: rgb(180, 148, 2);

* {
    margin: 0px;
    padding: 0px;
}

body {
    color: #6e6d6d;
    background: linear-gradient(white,rgb(243, 230, 189));
}

.container {
    display: grid;
    font-family: $p-font;
    min-height: 100vh;
    
    ul {
        list-style: none;
    }
}

.button {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid #6e6d6d; 
}

a {
    text-decoration: none;
    color: #6e6d6d; 
}