@mixin set-size($width, $height) {
    width: $width;
    height: $height;
}

@mixin space($margin: 5%) {
    margin: $margin;
}

@mixin flex-center($justify-content: center, $align-items: center) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin fwrap() {
    display: flex;
    flex-wrap: wrap;
}