@import "../partials/main";
@import "../partials/footer";
@import "../partials/fonts";
@import "../partials/mixins";

.container {
    min-height: 100vh;
    font-family: $p-font;
    display: grid;
    grid-template-areas:
    "portfolio"
    "footer"
    ;
}

#portfolio {
    grid-area: portfolio;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------------------------------------------------
    PROJECT ITEM STYLING
----------------------------------------------------- */

#portfolioItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    li {
        @include set-size(150px, 150px);
        background-color: lightgrey;
        margin: 15px;

        list-style: none;
        box-shadow: 0px 0px 5px grey;
        border-radius: 20px;

        img {
            @include set-size(100%, 100%);
            border-radius: 20px; 
        }

        a:hover {
            img {
                transform: scale(1.05);
                box-shadow: 0px 0px 5px grey;
            }
        }

        i:hover {
            color: $snd-color;
        }
    }

}

/* ---------------------------------------------------
    OVERLAY DARKEN STYLING
----------------------------------------------------- */

.overlay {
    position: absolute;
	top: 0;
	bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    transition: opacity 200ms;
    visibility: hidden;
    opacity: 0;

    /* ---------------------------------------------------
        CANCEL FEATURE FOR EXITING MODAL
    ----------------------------------------------------- */

    .cancel {
        position: absolute;
        width: 100%;
        height: 100%;
        cursor: default;
    }

    /* ---------------------------------------------------
        EXIT BUTTON FEATURE FOR EXITING MODAL
    ----------------------------------------------------- */

    .close {
        position: absolute;
        top: 5px;
        right: 20px;
        opacity: 0.8;
        transition: all 200ms;
        font-size: 30px;
        font-weight: bold;
        text-decoration: none;
        color: #666;
        &:hover {
          opacity: 1;
          color: $snd-color;
        }
    }

    &:target {
        visibility: visible;
        opacity: 1;
    }

}

/* ---------------------------------------------------
    MODAL STYLING
----------------------------------------------------- */

.modal {
    margin: 75px auto;
	padding: 20px;
	background: white;
	width: 300px;
    position: relative;
    max-height: 70vh;
    overflow: scroll;
    
    .modal-content {
        max-height: 400px;
        overflow: auto;
        margin-top: 10px;

        h4 {
            margin-top: 10px;
        }

        h5 {
            margin-top: 10px;
        }

    }

    img {
        padding-top: 20px;
        border-radius: 5px;
    }

    h3 {
        margin-top: 10px;
    }

    i {
        margin-left: 45%;
        margin-top: 10px;
        font-size: 2em;
        color: black;
    }

    hr {
        margin: 20px 0;
    }


}

/* ---------------------------------------------------
    IPAD RESPONSIVE MEDIA QUERIES
----------------------------------------------------- */

@media screen and (min-width: 760px) {
    
    #portfolioItems {
        li {
            @include set-size(240px, 240px);
        }
    }

    .modal {
        width: 500px;
    }

}

/* ---------------------------------------------------
    DESKTOP RESPONSIVE MEDIA QUERIES
----------------------------------------------------- */

@media screen and (min-width: 1200px) {
    #portfolio {
        margin: 0 20%;
    }

    footer {
        justify-content: flex-start;
    }

    .modal {
        font-size: 1em;
    }
}

