@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
* {
  margin: 0px;
  padding: 0px;
}

body {
  color: #6e6d6d;
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f3e6bd));
  background: linear-gradient(white, #f3e6bd);
}

.button {
  width: 50px;
  height: 50px;
  border-radius: 100px;
  border: 1px solid #6e6d6d;
}

a {
  text-decoration: none;
  color: #6e6d6d;
}

footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

footer #home-button {
  margin: 0.5em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 50px;
  min-height: 50px;
  border: 1px solid #6e6d6d;
  border-radius: 100px;
}

footer #home-button input {
  display: none;
}

footer #home-button input:checked ~ label span:first-child {
  display: none;
}

footer #home-button input:not(:checked) ~ label span:last-child {
  display: none;
}

footer #home-button input:checked ~ ul {
  width: 300px;
  height: 50px;
}

footer #home-button label span {
  margin: 0 5px;
}

footer #home-button ul {
  overflow: hidden;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  -webkit-transition: width 0.5s, height 0.5s;
  transition: width 0.5s, height 0.5s;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer #home-button ul a {
  text-decoration: none;
  color: #6e6d6d;
}

footer #home-button ul li {
  margin: 0 5px;
  font-size: 0.8em;
}

footer #home-button i {
  font-size: 1.5em;
}

footer nav {
  margin: 0.5em 0;
}

footer nav i {
  margin: 0 0.5em;
  font-size: 1em;
}

footer nav a {
  text-decoration: none;
  color: #6e6d6d;
}

.container {
  height: 100vh;
  font-family: "Montserrat", sans-serif;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "portfolio"  "portfolio" "footer";
}

#portfolio {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: portfolio;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#portfolioItems {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#portfolioItems li {
  width: 150px;
  height: 150px;
  background-color: lightgrey;
  margin: 15px;
  list-style: none;
  -webkit-box-shadow: 0px 0px 3px grey;
          box-shadow: 0px 0px 3px grey;
}

#portfolioItems li img {
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 200ms;
  transition: opacity 200ms;
  visibility: hidden;
  opacity: 0;
}

.overlay .cancel {
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: default;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.modal {
  margin: 75px auto;
  padding: 20px;
  background: white;
  width: 300px;
  position: relative;
}

.modal .modal-content {
  max-height: 400px;
  overflow: auto;
  margin-top: 10px;
}

.modal .modal-content h4 {
  margin-top: 10px;
}

.modal .modal-content h5 {
  margin-top: 10px;
}

.modal img {
  border-radius: 5px;
}

.modal h3 {
  margin-top: 10px;
}

.modal i {
  margin-left: 45%;
  margin-top: 10px;
  font-size: 2em;
  color: black;
}

.modal hr {
  margin: 20px 0;
}
/*# sourceMappingURL=portfolio.css.map */