@import "../partials/main";
@import "../partials/footer";
@import "../partials/fonts";
@import "../partials/mixins";

.container {
    min-height: 100vh;
    font-family: $p-font;
    display: grid;
    grid-template-areas:
    "header" 
    "contact"
    "footer"
    ;
}

header {
    grid-area: header;
    @include space();
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
        margin: 5px 0;
        text-align: center;

        i {
            margin-right: 5px;
        }
    }
    h1 {
        margin-bottom: 10px;
    }
}

#contact {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        input {
            padding: 10px;
            border: 1px solid #6e6d6d;
            margin: 10px 0;
            width: 250px;
            font-size: 1em;
            border-radius: 3px;
        }

        textarea {
            padding: 10px;
            border: 1px solid #6e6d6d;
            margin: 10px 0;
            width: 250px;
            border-radius: 3px;
            font-size: 1em;
        }

        #submit-button {
            width: 70%;
        }

    }

    img {
        @include set-size(50px, 50px)
    }

}

@media screen and (min-width: 760px) {

    header {
        @include space($margin: 1%)
    }

    #contact {
        form {
            input {
                width: 400px;
                padding: 15px;
            }
            textarea {
                width: 400px;
                padding: 15px;
            }
        }
    }
}
