@import "../partials/main";
@import "../partials/footer";
@import "../partials/fonts";
@import "../partials/mixins";

.container {
    height: 100vh;
    font-family: $p-font;
    display: grid;
    grid-template-areas:
    "header" 
    "resume"
    "footer"
    ;
}

header {
    @include space();
    grid-area: header; 
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    img {
        @include set-size(80px, 80px);
        box-shadow: 0px 0px 3px grey;
        border-radius: 0px 50px 0px 50px;
    }

    h1 {
        margin-left: 10px;
    }
}

#resume {
    grid-area: resume;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    iframe {
        border-radius: 10px; 
        @include set-size(340px, 480px)
    }

    #download {
        @include set-size(100px, 50px)
    }

    h3{
        margin-bottom: 10px;
    }

    a {
        color: #6e6d6d;
    }
}

@media screen and (min-width: 760px) {

    header {
        img {
            border-radius: 100px;
            box-shadow: 2px 3px 5px grey;
            @include set-size(150px, 150px);
        }
    }
    
    #resume {
        font-size: 1.5em;
        h3 {
            margin-bottom: 30px;
        }
        iframe {
            @include set-size(600px, 700px);
        }
    }

}

@media screen and (min-width: 1200px) {
    
    .container {
        grid-template-areas: 
        "header resume"
        "footer resume"
        ;
    }

    header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-end;
        img {
            @include set-size(400px, 400px);
            border-radius: 0;
        }

        h1 {
            padding-top: 1.5em;
        }

        padding-left: 10em;
    }

    #resume {
        padding-right: 10em;
    }

    footer {
        justify-content: flex-start;
        padding-left: 10em;
    }
}
