@import "../partials/main";
@import "../partials/footer";
@import "../partials/fonts";
@import "../partials/mixins";

.container {
    min-height: 100vh;
    font-family: $p-font;
    display: grid;
    grid-template-areas:
    "header" 
    "resume"
    "footer"
    ;
}

header {
    @include space();
    grid-area: header; 
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    img {
        @include set-size(80px, 80px);
        box-shadow: 0px 0px 3px grey;
        border-radius: 0px 50px 0px 50px;
    }

    h1 {
        margin-left: 10px;
    }
}

#resume {
    grid-area: resume;
    overflow: scroll;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    iframe {
        border-radius: 20px; 
        @include set-size(340px, 480px);
    }

    span {
        color: $snd-color;
    }

    h3{
        margin-bottom: 10px;
    }

    a {
        color: #6e6d6d;
    }
}

@media screen and (min-width: 760px) {

    header {
        img {
            border-radius: 100px;
            box-shadow: 2px 3px 5px grey;
            @include set-size(150px, 150px);
        }
    }
    
    #resume {
        h3 {
            margin-bottom: 30px;
        }
        iframe {
            @include set-size(600px, 60vh);
        }
    }

}

@media screen and (min-width: 1200px) {
    
    .container {
        grid-template-areas: 
        "header resume"
        "footer resume"
        ;
    }

    header {
        grid-area: header;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: flex-end;
        img {
            @include set-size(400px, 400px);
            border-radius: 0px 300px 0px 300px;
            animation: warp 8s infinite;
        }

        @keyframes warp {
            0% {
                border-radius: 0px 300px 0px 300px;
            }
            50% {
                border-radius: 300px 0px 300px 0px;
            }
            100% {
                border-radius: 0px 300px 0px 300px;
            }
        }

        h1 {
            padding-top: 1.5em;
        }

        padding-left: 10em;
    }

    #resume {
        grid-area: resume;
        padding-right: 10em;
        iframe {
            height: 80vh;
        }
    }

    footer {
        grid-area: footer;
        justify-content: flex-start;
        padding-left: 10em;
    }
}
